@font-face {
    font-family: 'Poppins';
    src: url('http://127.0.0.1:8000/dashboard/vendors/js/editors/ckeditor/font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
